<script src="javascripts/homepage.js"></script>

{{>navbar}}

<div class="homepage" onscroll="scrollHandler()">
    <div class="main-content">
        <h1>
            Freelance <br> Everything
        </h1>
        <p class="lead">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores facere eius porro exercitationem ipsum
            architecto in totam laboriosam ab vel!
        </p>
        <div class="cta">
            <button class="btn btn-primary" style="background-color: #F7500B !important"
                onclick="location.href ='/search'">Let's go</button>
        </div>
    </div>
    <img src="images/clean.png" alt="" class="hero-image">
</div>