n<div class="col">
    <div class="review">
        <div class="row">
            <div class="col ml-5 mt-5">
                <div class="card" style=" background-color:rgb(113, 160, 95);">
                    <div class="alert alert-success" id="show-success-rate" style="display: none"></div>
                    <h1>Rate and review our services</h1>
                    <div class="card-body">
                        <div class="review-card">
                            Review:<br>
                            <button name="postBtn" class="button btn btn-primary" style="text-align: center"
                                onclick="postReview()">Post</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>