<div class="search-form">
    <p class="h4 mb-4" style="text-align: center;">Service Details</p>
    <input type="text" id="type" name="type" class="form-control" placeholder="Enter type of service provider..">

    <div id="match-list"></div>

</div>

<script src="javascripts/search.js"></script>