<div class="lead" style="text-align: left;">Just some few steps {{@root.user.name}}...</div>
<div class="lead" style="text-align: left;">Confirm the location!</div>
<input type="hidden" value="{{serviceProvider.address}}" name="sLoc" id="sLoc" />
<div id="locationmap" style="height: 17rem;"></div>