<div class="card bookings-card">
    <p class="lead bookings-text">Here is your booking details</p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="showBookings">

        </tbody>
    </table>

</div>