<table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
        <tr class="table-success">
            <th>Date</th>
            <th>Review</th>
            <th>Stars</th>
        </tr>
    </thead>
    <tbody id="reviewdata">

    </tbody>
</table>